* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #040714;
    --site-color: #fff;
}

body {
    background-color: var(--main-color);
    color: var(--site-color);
}